*{ text-decoration: none; color: black; }
body { margin: 5px 0px 0px 0px; padding: 0px; }

/*머리 부분*/
header{
	width: 100%;
	height: 100px;
	background-color: white;
	position: relative;
	border-bottom: 1px #536469 solid;
	margin-bottom: 15px;
}

/*홈버튼*/
#main{
	position: absolute;
	top: 25px;
	left: 50px;
	font: 900 40px Times New Roman, serif;
}

/*그 위쪽에 차례*/
nav{
	position: absolute;
	top: 21px;
	right: 50px;
	font-size: 18px;
}
header nav ul{ list-style: none; }
header nav li{ display: inline; margin-left: 40px; }


/*아래쪽 푸터*/
footer{
	width: 100%;
	height: 70px;
	margin: 40px 0px 0px 0px;
	padding: 23px 0px 0px 0px;
	background-color: black;
	text-align: center;
}

footer span{
	font-size: 13px;
	font-weight: medium;
	font-family: "Times New Roman", serif;
	color: white;
}

.block{
	position: relative;
	display: inline-block;
	width: 94%;
	left: 3%;
}